<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Expense Tracker</title>
  </head>
  
  <body>
    <div class="topnav">
      <a class="active" href="#home">Home</a>
      <a href="{{ url_for('') }}">News</a>
      <a href="{{ url_for('new_entry') }}">New Entry</a>
      <a href="{{ url_for('show_all') }}">Show All</a>
    </div>
    <h1>Results</h1>
    <p>Your new entry has been added succefully.</p>
    <p>
      <a href="{{ url_for('show_all') }}">Show all your expenses!</a>
    </p>
  </body>
</html>