<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Input your new expense</title>
  </head>

  <body>
    <div class="topnav">
      <a class="active" href="/">Home</a>
      <a href="{{ url_for('new_entry') }}">New Entry</a>
      <a href="{{ url_for('show_all') }}">Show All</a>
  </div>

    <h1>Please input the expense</h1>
    <form method="POST" name="new_entry">
      <!-- {% if error %}
      <p style="color:red">Please input a valid amount and category.</p>
      {% endif %}
       -->
      <p> 
        Please enter your amount of expense ($):
      </p>

      <p> 
        <input type="number" size="4" name="amount"> 
      </p>

      <p>
        <label for="categories"> Select Category </label>  
        <select name="categories" id="categories">  
          <option value = "Necessities">Necessities</option>   
          <option value = "Food & Grocery">Food & Grocery</option>
          <option value = "Shopping & Entertainment">Shopping & Entertainment</option>
          <option value = "Travel">Travel</option>
          <option value = "Others">Others</option>
        </select>  
      </p>
      
      <p>
        Description:
        <input type="text" size="4" name="description">
      </p>

      <p>
        <input type="submit" value="Store the expense" />
      </p>
    </form>

  <p>
      <a href="{{ url_for('show_all') }}">Check all of your expense here!</a>
  </p>
  </body>
</html>